//output:index.html
doctype html
html
	head
		script(type="text/javascript" src="main.js")
		link(rel="stylesheet" type="text/css" href="index.css")
	body
	.sidePanel(id="panelID")
		h2#Menu Menu
		a(id="menulink" href="index.html")
		a(id="menulink" href="project.html")
	.newMenu(id="newMenu" onclick="newMenuClick()")
		.bar(id="bar1")
		.bar(id="bar2")
		.bar(id="bar3")
	.actualBody
		h1(id="forPad" onselectstart="return false") Moshe Barkan
		h1(onselectstart="return false") Front-End Web Developer 
		a(href="mailto:moshiko226@hotmail.com")
			h1(onselectstart="return false") Moshiko226@hotmail.com
		a(href="https://www.github.com/MosheBarkan")
			h1(onselectstart="return false") GitHub	
