html {
    background-color: rgba(45, 73, 121, 1);
    font-family: "Glober Free", "Glober Free Thin";
    animation: background 10s linear infinite;
    cursor: default;
}
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    z-index: -2;
}
.newMenu {
    width: 36px;
    height: 28px;
    left: 4px;
    top: 4px;
    right: 37px;
    bottom: 30px;
    position: fixed;
    text-align: center;
    transition: all 0.1s linear;
    transform-origin: center;
    cursor: pointer;
}
.newMenu:hover {
  transform: scale(1.15);
}
.sidePanel {
    height: 100%;
    width: 250px;
    background-color: rgb(99, 130, 162);
    position: fixed;
    opacity: 0;
    box-shadow: 0px 0px 20px 1px rgb(255, 255, 255);
    z-index: 0;
    transform: translateX(-300px);
    text-align: center;
}
#menulink {
    text-decoration: none;
    color: black;
    transition: all 0.1s linear;
}
#menulink:hover {
  color: rgb(255, 115, 0);
}
a {
    text-decoration: none;
}
h1 {
    color: white;
    text-align: center;
}
#Menu {
    text-decoration: underline;
}
h2 {
    transform: translate(20px, 25px);
    z-index: 1;
}
#Fast {
    transform: translate(60px, 25px);
    width: 60px;
    marin
}
.actualBody {
  width: 583px;
  height: 322px;
  margin: 0 auto;
  margin-top: 10%;
  background-color: transparent;
  display: table;
  text-align: center;
  border-radius: 50px;
  border: 5px white solid;
}
.actualBody a>h1:hover{
  color: rgb(255, 99, 0);
}

.actualBody h1 {
    transition: all 0.1s linear;
}
#forPad,#forPad2 {
  padding-top: 35px;
}
#download,#forPad2 {
  text-decoration: underline;
  color: rgb(255, 92, 0);
}
.bar {
    width: 30px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin-top: 3px;
    border-radius: 10px;
    transform-origin: left;
    pointer-events: none;
    margin-left: 2px;

}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scaleX(2);
  }
}
@keyframes come {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }
    100% {
        transform: translateX(-50px);
        opacity: 1;
    }
}
@keyframes comeBack {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }
    100% {
        transform: translateX(-50px);
        opacity: 1;
    }
}
@keyframes rotateToDown {
    0% {
        transform: rotate();
    }
    100% {
        transform: rotate(33deg);
    }
}
@keyframes flyOut {
    0% {
        transform: translateX();
        opacity: 1;
    }
    50% {
        transform: translateX(-500px);
        opacity: 0
    }
    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}
@keyframes rotateToUp {
    0% {
        transform: rotate();
    }
    100% {
        transform: rotate(-33deg);
    }
}
@keyframes rotateToDownBack {
    0% {
        transform: rotate();
    }
    100% {
        transform: rotate(33deg);
    }
}
@keyframes flyOutBack {
    0% {
        transform: translateX();
        opacity: 1;
    }
    50% {
        transform: translateX(-500px);
        opacity: 0
    }
    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}
@keyframes rotateToUpBack {
    0% {
        transform: rotate();
    }
    100% {
        transform: rotate(-33deg);
    }
}
p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(219, 219, 219);
}
p a {
    color: white;
    font-weight: bolder;
    transition: all 0.1s linear;
    transform-origin: center;
}
p a:hover {
    color: rgb(255, 130, 0);
}
