// output:martef.html
doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='styles/all.css')
    |     
    link(rel='stylesheet', type='text/css', href='styles/martef.css')
  |   
  body
    #panelID.sidePanel
      h2#Menu Menu
      a#menulink(href='index.html')
        h2 Home
      a#menulink(href='project.html')
        h2 Projects
      a#menulink(href='martef.html')
        h2(style='color:red') Martef
    |     
    #newMenu.newMenu
      #bar1.bar
      |       
      #bar2.bar
      |       
      #bar3.bar
    |     
    .forForm
      input#textBox
      |       
      #martefButton.button(onselectstart='return false') Save
    | 
    .box
      h1 Box
      h3 height:
      input#heightBox
      h3 width:
      input#widthBox
      .newButton Calculate
    |     
    script(src='js/jquery3.js')
    |     
    script(src='js/martef.js')
    |     
    script(src='js/main.js')