//output:project.html
doctype html
html
	head
		script(type="text/javascript" src="main.js")
		link(rel="stylesheet" type="text/css" href="All.css")
	body
	.actualBody
			h1(id="download") <u>FastPokeMap.com Scanner</u>
			.firstPara
				p FastPokeMap-Scanner is a script that signicintly increases <br> scan radius in the popular website <span class="fast"><a href="http://www.fastpokemap.com">FastPokeMap.com</a> </span>
			.dec
				h1(id="download") How To Download
				p(id="gitHub")<span class="fast"><a href="https://github.com/MosheBarkan/FastPokeMon.com-Scanner">Click here </a></span> to get to the download section in GitHub 

	.box		
		h2(onselectstart="return false")
			u Menu
		.inBox
			a(href="index.html")
				h2(onselectstart="return false") Home
			h2(onselectstart="return false") About
			h2(onselectstart="return false") Contact Me
			h2(style="color: red" onselectstart="return false") FastPokeMap Scanner
	.newMenu(onclick="newMenuClick()")
		.bar(id="bar1")
		.bar(id="bar2")
		.bar(id="bar3")
