//output:project.html
doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='styles/all.css')
  |   
  body
    #panelID.sidePanel
      h2#Menu Menu
      a#menulink(href='index.html')
        h2 Home
      a#menulink(href='project.html')
        h2(style='color:red') Projects
      a#menulink(href='martef.html')
        h2 Martef
    |   
    #newMenu.newMenu
      #bar1.bar
      |     
      #bar2.bar
      |     
      #bar3.bar
    |   
    .actualBody
      h1#forPad2 FastPokeMap.com Scanner
      |     
      .firstPara
        p
          | FastPokeMap-Scanner is a script that significantly increase 
          br
          |  scan radius in the popular website 
          a(href='http://www.fastpokemap.com') FastPokeMap.com
      |     
      .dec
        h1#download How To Download
        |       
        p#gitHub
          a(href='https://github.com/MosheBarkan/FastPokeMon.com-Scanner') Click here
          |  to get to the download section in GitHub
    |   
    script(src='js/jquery3.js')
    |   
    script(src='js/main.js')
